---
---


$section-headings-color: #345466;
$body-text-color: #1a2a33;
$body-link-color: #1f6c99;
$blockquote-text-color: #2e414d;

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,300;0,600;1,800&display=swap');

/* BODY */

body {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3 {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87) !important;
}

h1 {
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

p + h1 {
  margin-top: 2.1rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 1.8rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 1.8rem;
  margin-bottom: 1.25rem;
}

p:first-of-type,
h2 + p {
}

p.indented {
  text-indent: 0;
  padding-left: 2.25rem;
}

.main-content {
  font-size: 1.25rem;
  line-height: 1.5;
}

.main-content p,
.main-content ul,
.main-content .embed-responsive {
  margin-top: 0rem;
  margin-bottom: 1.25rem;
}

.main-content a {
  font-weight: bold;
}

.main-content blockquote {
  font-style: italic;
  color: rgba(0, 0, 0, 0.87);
}

.main-content .embed-container {
  position:relative;
  padding-top:56.25%;
  height: 0;
  overflow: hidden;
}

.main-content .embed-responsive-item {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

/* COLOR INCLUDES */

.colors-container {
	width: 100%;
	display: grid;
}

.colors-2 {
	grid-template-columns: 1fr 1fr;
}

.colors-3 {
	grid-template-columns: 1fr 1fr 1fr;
}

.colors-container span {
	font-family: monospace, sans;
	color: black;
	background: rgba(255, 255, 255, 0.8);
}

/* HEADER */

.page-header {
    font-family: "Raleway", sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fffe !important;
    text-align: center;
    background-color: #08334d;
    background-image: linear-gradient(60deg, #3d7699, #08334d);
}

.page-header a {
  color: #fffe !important;
  text-decoration: none !important;
}

.page-header h1 {
  font-family: "Raleway", sans-serif;
  color: #fffe !important;
  font-size: 2.1rem !important;
  font-weight: 800 !important;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header h2 {
  font-family: "Raleway", sans-serif;
  color: #fffb !important;
  font-size: 1.25rem !important;
  font-weight: 300 !important;
  opacity: 1.0;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.navigation a {
  color: #fffd !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  font-size: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.navigation a:hover {
  text-decoration: underline !important;
}

/* OTHER */

.navbar,
.panel,
.breadcrumb,
footer {
  font-family: "Raleway", sans-serif;
}
